<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Automation Test Suite" verbose="1" parallel="false">

    <!-- Registering a custom TestNG listener -->
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
        <listener class-name="UI.com.jarhub.listeners.Listener"/>
    </listeners>

    <test name="Functional Tests">
            <classes>
                <class name="UI.com.jarhub.tests.LoginTest"/>
                <class name="UI.com.jarhub.tests.ProductOrderTest"/>
            </classes>
    </test>

</suite>